pkgbase = virus-malware-search
	pkgdesc = "Herramienta para buscar información en VirusTotal y MalwareBazaar"
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Leku2020/owlArchRepo/tree/main/ownSoftware/OwlSearch
	arch = any
	license = MIT
	depends = python
	depends = python-requests
	sha256sums = SKIP

pkgname = virus-malware-search
