pkgbase = brave-browser
    pkgver = 1.73.91
    pkgrel = 1
    pkgdesc = Web browser that blocks ads and trackers by default (binary release)
    url = https://brave.com
    arch = x86_64
    license = MPL2
    license = BSD
    license = custom:chromium
    options = !strip
    depends = alsa-lib
    depends = gtk3
    depends = libxss
    depends = nss
    depends = ttf-font
    optdepends = cups: Printer support
    optdepends = libgnome-keyring: Enable GNOME keyring support
    optdepends = libnotify: Native notification support
    provides = brave-browser=1.73.91
    conflicts = brave-browser
    source = brave-browser-1.73.91.zip::https://github.com/brave/brave-browser/releases/download/v1.73.91/brave-browser-1.73.91-linux-amd64.zip
    source = brave.sh
    source = brave-browser.desktop
    noextract = brave-browser-1.73.91.zip
    sha256sums = 2a1c0e633d002e1d1bb01df4ba85fa989e0a3f7e50daa93c20201055dd7540b2
    sha256sums = 34814b275b51a4dac1c2aee8ee9ec2b6dbc1da32bc952a2a3147875e25965fc4
    sha256sums = c07276b69c7304981525ecb022f92daf7ae125a4fb05ac3442157b50826e257a